body {
  overflow: hidden;
  background-color: black;
  color: white;
}

body,
#__nuxt {
  height: 100vh !important;
}

#video {
  position: inherit !important;
}

video,
#video {
  height: 100vh;
  width: 100vw;
}

.quote h3 {
  font-size: 4em !important;
}

.video-js .vjs-title-bar {
  display: hidden;
  padding: 0.5em;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw !important;
}

.video-js.vjs-paused.vjs-has-started .vjs-title-bar,
.video-js.vjs-user-active.vjs-has-started .vjs-title-bar {
  display: block;
}

.vjs-user-inactive .vjs-title-bar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}

.video-js {
  font-size: 15px !important;
}

.vjs-control-bar,
.vjs-title-bar {
  background: rgba(0, 0, 0, 0.5) !important;
}

.video-js .vjs-viewers-control,
.vjs-control-amplifier,
.vjs-mirror-control,
.vjs-control-help,
.vjs-control-elapsed,
.vjs-title-bar {
  font-size: 1.5em !important;
}

.vjs-mirror-off {
  opacity: 33%;
}

.vjs-control-elapsed {
  position: absolute;
  width: 200px;
  bottom: 12px;
  text-align: center;
  left: calc(50vw - (200px / 2));
  cursor: pointer;
}

/* Sync status */
.vjs-sync-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

/* Disable unused components */
.video-js.vjs-playing .vjs-tech {
  pointer-events: none;
}

.video-js .vjs-progress-control,
.vjs-live-control {
  opacity: 0%;
}

.video-js .vjs-play-control,
.vjs-remaining-time,
.vjs-big-play-button {
  display: none;
}

/* Context menu */

.vjs-contextmenu-ui-menu {
  position: absolute;
}

.vjs-contextmenu-ui-menu .vjs-menu-content {
  background-color: rgba(100, 100, 100, 0.75);
  border-radius: 0.3em;
  padding: 0.25em;
}

.vjs-contextmenu-ui-menu .vjs-menu-item {
  border-radius: 0.3em;
  cursor: pointer;
  margin: 0 0 1px;
  padding: 0.5em 1em;
  font-size: 1em;
  text-align: left;
  line-height: 1.2;
  text-transform: none;
}

.vjs-contextmenu-ui-menu .vjs-menu-item:active,
.vjs-contextmenu-ui-menu .vjs-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0em 0em 1em white;
}

.vjs-subs-caps-button > .vjs-menu > .vjs-menu-content {
  background-color: #000000;
  width: 250px;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 2;
  pointer-events: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
